.skills {
    display: flex;
    flex-direction: column;
}

.skills .tools ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.skills .tools ul li img {
    max-width: 50px;
    max-height: 50px;
    margin: 0.5rem
}

.skills .personal ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.skills .personal ul li {
    margin-left: 2rem;
    padding: 0.5rem;
    list-style: disc;
}

@media screen and (min-width: 768px) {
    .skills {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}